<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.min.css">
</head>

<body class="page-body">
	//= include/header.html
	<main class="page-main">
		<section class="titles">
			<h1 class="titles__main">Оформление виз в 45 стран <br> на максимальный срок</h1>
			<h3 class="titles__sub">Получите список документов для оформления визы и расчет стоимости</h3>
		</section>
		<form class="main-form">
			<div class="main-form__title">Заполните форму для получения информации</div>
			<div class="main-form__step-wrapper">
				<div class="main-form__step">
					<div class="main-form__step-title">Шаг 1</div>
					<div class="main-form__step-item">
						<div class="main-form__step-item-title">1. Выберите страну</div>
						<select name="" id="" class="main-form__step-item-country">
							<option data-display="Не выбрана">Не выбрана</option>
							<option value="Австралия">Австралия</option>
							<option value="Австрия">Австрия</option>
							<option value="Бельгия">Бельгия</option>
							<option value="Болгария">Болгария</option>
							<option value="Великобритания">Великобритания</option>
							<option value="Венгрия">Венгрия</option>
							<option value="Вьетнам">Вьетнам</option>
							<option value="Германия">Германия</option>
							<option value="Греция">Греция</option>
							<option value="Дания">Дания</option>
							<option value="Индия">Индия</option>
							<option value="Ирландия">Ирландия</option>
							<option value="Исландия">Исландия</option>
							<option value="Испания">Испания</option>
							<option value="Италия">Италия</option>
							<option value="Канада">Канада</option>
							<option value="Кипр">Кипр</option>
							<option value="Китай">Китай</option>
							<option value="Латвия">Латвия</option>
							<option value="Литва">Литва</option>
							<option value="Мальта">Мальта</option>
							<option value="Мексика">Мексика</option>
							<option value="Нидерланды">Нидерланды</option>
							<option value="Новая Зеландия">Новая Зеландия</option>
							<option value="Норвегия">Норвегия</option>
							<option value="ОАЭ">ОАЭ</option>
							<option value="Польша">Польша</option>
							<option value="Португалия">Португалия</option>
							<option value="Румыния">Румыния</option>
							<option value="Сингапур">Сингапур</option>
							<option value="Словакия">Словакия</option>
							<option value="Словения">Словения</option>
							<option value="США">США</option>
							<option value="Таиланд">Таиланд</option>
							<option value="Тайвань">Тайвань</option>
							<option value="Туркменистан">Туркменистан</option>
							<option value="Финляндия">Финляндия</option>
							<option value="Франция">Франция</option>
							<option value="Хорватия">Хорватия</option>
							<option value="Чехия">Чехия</option>
							<option value="Швейцария">Швейцария</option>
							<option value="Швеция">Швеция</option>
							<option value="Шри-Ланка">Шри-Ланка</option>
							<option value="Эстония">Эстония</option>
							<option value="Япония">Япония</option>
							<option value="Туркменистан">Туркменистан</option>
							<option value="Южная Корея">Южная Корея</option>
						</select>
					</div>
					<div class="main-form__step-item">
						<div class="main-form__step-item-title">2. Выберите срок действия визы</div>
						<input type="text" class="main-form__step-item-slider" name="visa-time" value="" />
					</div>
					<div class="main-form__step-item">
						<div class="main-form__step-item-title">3. Выберите цель визита</div>
						<div class="main-form__step-item-reason-wrapper">
							<div class="main-form__step-item-reason">
								<input type="radio" name="reason" id="reason-1" class="main-form__step-item-reason-input" checked value="Туризм">
								<label for="reason-1" class="main-form__step-item-reason-label">Туризм</label></div>
							<div class="main-form__step-item-reason">
								<input type="radio" name="reason" id="reason-2" class="main-form__step-item-reason-input" value="Лечение">
								<label for="reason-2" class="main-form__step-item-reason-label">Лечение</label></div>
							<div class="main-form__step-item-reason">
								<input type="radio" name="reason" id="reason-3" class="main-form__step-item-reason-input" value="Деловая поездка">
								<label for="reason-3" class="main-form__step-item-reason-label">Деловая поездка</label></div>
							<div class="main-form__step-item-reason">
								<input type="radio" name="reason" id="reason-4" class="main-form__step-item-reason-input" value="ПМЖ">
								<label for="reason-4" class="main-form__step-item-reason-label">ПМЖ</label></div>
							<div class="main-form__step-item-reason">
								<input type="radio" name="reason" id="reason-5" class="main-form__step-item-reason-input" value="Учёба">
								<label for="reason-5" class="main-form__step-item-reason-label">Учёба</label></div>
						</div>
					</div>
					<div class="main-form__step-item">
						<button class="main-form__step-item-button" type="button">Далее</button>
					</div>
				</div>
				<div class="main-form__step">
					<div class="main-form__step-title">Шаг 2</div>
					<div class="main-form__step-item main-form__step-item--full">
						<div class="main-form__step-item-title">Куда вам отправить информацию?</div>
						<div class="main-form__step-item-messenger">
							<div class="main-form__step-item-messenger-item">
								<input type="radio" name="messenger" id="messenger-1" class="main-form__step-item-messenger-input" checked>
								<label for="messenger-1" class="main-form__step-item-messenger-label">Whatsapp</label>
							</div>
							<div class="main-form__step-item-messenger-item">
								<input type="radio" name="messenger" id="messenger-2" class="main-form__step-item-messenger-input">
								<label for="messenger-2" class="main-form__step-item-messenger-label">Telegram</label>
							</div>
							<div class="main-form__step-item-messenger-item">
								<input type="radio" name="messenger" id="messenger-3" class="main-form__step-item-messenger-input">
								<label for="messenger-3" class="main-form__step-item-messenger-label">Viber</label>
							</div>
							<div class="main-form__step-item-messenger-item">
								<input type="radio" name="messenger" id="messenger-4" class="main-form__step-item-messenger-input">
								<label for="messenger-4" class="main-form__step-item-messenger-label">Телефон</label></div>
						</div>
					</div>
					<div class="main-form__step-item main-form__step-item--full">
						<div class="main-form__step-item-title">Введите ваши контактные данные</div>
						<div class="main-form__step-item-contact">
							<div class="main-form__step-item-contact-bunch">
								<label for="name" class="main-form__step-item-contact-label">Ваше имя</label>
								<input type="text" class="main-form__step-item-contact-input" placeholder="Иванов Иван" name="name" required>
							</div>
							<div class="main-form__step-item-contact-bunch">
								<label for="phone" class="main-form__step-item-contact-label">Ваш телефон</label>
								<input type="text" class="main-form__step-item-contact-input" placeholder="+7 (___) ___-____" name="phone" required>
							</div>
						</div>
					</div>
					<button type="submit" class="main-form__step-submit">Получить документы и цены</button>
					<div class="main-form__step-item main-form__step-item--full">
						<div class="main-form__step-item-confid">Нажимая на кнопку «Получить документы и цены», я даю согласие на обработку персональных данных и соглашаюсь с <a href="">политикой конфиденциальности</a></div>
					</div>
				</div>
			</div>
		</form>
	</main>
	//= include/footer.html
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
	<script src="js/app.min.js"></script>
</body>

</html>