<footer class="page-footer">
	<div class="page-footer__content">
		<div class="page-footer__address">
			<div class="page-footer__address-iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.87370573137!2d37.38133631581749!3d55.70856700287044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e452cc7fbfd%3A0xa29d2721deaf0a70!2z0JzQvtC20LDQudGB0LrQvtC1INGILiwgMTY1INGB0YLRgNC-0LXQvdC40LUgMSwgMTQsINCd0L7QstC-0LjQstCw0L3QvtCy0YHQutC-0LUsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4sIDEyMTU5Ng!5e0!3m2!1sru!2sru!4v1582500006708!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
			<div class="page-footer__address-text">
				<span>© ООО Твой Визовый Центр», 2019</span>
				<a href="https://goo.gl/maps/9bg26uwDji81dnGk6" target="_blank">Одинцовский р-н, р.п. Новоивановское, ш. Можайское <br>ш. 165 стр.1, офис 14</a>
			</div>
		</div>
		<div class="page-footer__social">
			<a href="" class="page-footer__social-link"><img src="img/insta.svg" alt="instagram" class="page-footer__social-link-image"></a>
			<a href="https://api.whatsapp.com/send?phone=74951509071" class="page-footer__social-link"><img src="img/whatsapp.svg" alt="whatsapp" class="page-footer__social-link-image"></a>
			<a href="" class="page-footer__social-link"><img src="img/telegram.svg" alt="telegram" class="page-footer__social-link-image"></a>
			<a href="viber://chat?number=74951509071" class="page-footer__social-link"><img src="img/viber.svg" alt="viber" class="page-footer__social-link-image"></a>
		</div>
	</div>
</footer>